<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>전체 문제 목록</title>
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .problem-table {
      width: 100%;
      table-layout: fixed;
      word-wrap : break-word;
    }

    .problem-table th, .problem-table td {
      padding: 10px;
      vertical-align: middle;
      text-align: left;
    }

    .problem-table th {
      background-color: #e9ecef;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h1>전체 문제 목록</h1>
    <!-- 총 유저 수를 표시하는 부분 -->
    <span th:text="'총 문제 수: ' + ${problems.size()}" class="ml-auto"></span>
  </div>
  <div class="card">
    <div class="card-body">
      <div class = "table-responsive">
        <table class="table problem-table table-hover table-striped">
          <thead>
          <tr>
            <th style="width:5%">ID</th>
            <th style="width:10%">작성 유저</th>
            <th style="width:10%">템플릿 타입</th>
            <th style="width:5%">폴더 ID</th>
            <th style="width:10%">출처</th>
            <th style="width:10%">메모</th>
            <th style="width:20%">분석 결과</th>
            <th style="width:5%">복습 횟수</th>
            <th style="width:10%">푼 날짜</th>
            <th style="width:10%">생성일</th>
            <th style="width:10%">수정일</th>
            <th style="width:10%">보정 이미지</th>
            <th style="width:10%">문제 이미지</th>
            <th style="width:10%">정답 이미지</th>
            <th style="width:10%">풀이 이미지</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="problem : ${problems}">
            <td th:text="${problem.problemId}">problemId</td>
            <td th:text="${problem.userName}">userName</td>
            <td th:text="${problem.templateType}">templateType</td>
            <td th:text="${problem.folderId}">folderId</td>
            <td th:text="${problem.reference}">Reference</td>
            <td th:text="${problem.memo}">memo</td>
            <td th:text="${problem.analysis}">analysis</td>
            <td th:text="${#lists.size(problem.repeats)}">repeats size</td>
            <td th:text="${@dateFormatter.format(problem.solvedAt)}">2024년 08월 20일 18시 32분 51초</td>
            <td th:text="${@dateFormatter.format(problem.createdAt)}">2024년 08월 20일 18시 32분 51초</td>
            <td th:text="${@dateFormatter.format(problem.updateAt)}">2024년 08월 20일 18시 32분 51초</td>
            <td>
              <a th:href="@{'/admin/user/image/view?url=' + ${problem.processImageUrl}}">
                <img th:src="${problem.processImageUrl}" alt="Process Image" class="img-thumbnail" style="max-width: 100px;">
              </a>
            </td>
            <td>
              <a th:href="@{'/admin/user/image/view?url=' + ${problem.problemImageUrl}}">
                <img th:src="${problem.problemImageUrl}" alt="Problem Image" class="img-thumbnail" style="max-width: 100px;">
              </a>
            </td>
            <td>
              <a th:href="@{'/admin/user/image/view?url=' + ${problem.answerImageUrl}}">
                <img th:src="${problem.answerImageUrl}" alt="Answer Image" class="img-thumbnail" style="max-width: 100px;">
              </a>
            </td>
            <td>
              <a th:href="@{'/admin/user/image/view?url=' + ${problem.solveImageUrl}}">
                <img th:src="${problem.solveImageUrl}" alt="Solve Image" class="img-thumbnail" style="max-width: 100px;">
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- Bootstrap JS (Optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>